################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/API/bin/Debug/net10.0/API.dll
/API/bin/Debug/net10.0/API.exe
/API/bin/Debug/net10.0/API.pdb
